[Desktop Entry]
Name=Leafpad
Comment=Simple GTK+ based text editor
Comment[pl]=Prosty edytor tekstu oparty na GTK+
Exec=leafpad
Icon=leafpad.png
StartupNotify=false
Terminal=false
Type=Application
Categories=GTK;TextEditor;
Encoding=UTF-8
# vi: encoding=utf-8
